@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #2c3e50, #3498db);

    --background: 223 96.45% 98.48%;
    --foreground: 223 2.9% 0.96%;

    --muted: 223 2.9% 92.4%;
    --muted-foreground: 223 1.45% 42.4%;

    --popover: 223 66.8% 92.4%;
    --popover-foreground: 223 2.9% 1.2%;

    --card: 223 66.8% 92.4%;
    --card-foreground: 223 2.9% 1.2%;

    --border: 223 7.9% 89.96%;
    --input: 223 7.9% 89.96%;

    --primary: 223 29% 24%;
    --primary-foreground: 223 0.58% 92.4%;

    --secondary: 223 1.45% 96.2%;
    --secondary-foreground: 223 2.7399999999999998% 12.4%;

    --accent: 223 1.45% 96.2%;
    --accent-foreground: 223 2.7399999999999998% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 223 29% 24%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #00c6ff, #0072ff);

    --background: 204 61.75% 5.92%;
    --foreground: 204 9.5% 98.7%;

    --muted: 204 48.449999999999996% 22.2%;
    --muted-foreground: 204 9.5% 57.4%;

    --popover: 204 56.45% 9.62%;
    --popover-foreground: 204 9.5% 98.7%;

    --card: 204 56.45% 9.62%;
    --card-foreground: 204 9.5% 98.7%;

    --border: 204 48.449999999999996% 22.2%;
    --input: 204 48.449999999999996% 22.2%;

    --primary: 204 95% 74%;
    --primary-foreground: 204 9.5% 7.4%;

    --secondary: 204 48.449999999999996% 22.2%;
    --secondary-foreground: 204 9.5% 98.7%;

    --accent: 204 48.449999999999996% 22.2%;
    --accent-foreground: 204 9.5% 98.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 9.5% 98.7%;

    --ring: 204 95% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.screenshot-swiper {
  --swiper-pagination-color: #3b82f6;
  --swiper-pagination-bullet-inactive-color: #6b7280;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-width: 30px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-border-radius: 0;
}
